/* Define o charset do documento como UTF-8 */
@charset "UTF-8";

/* Estilos para o corpo da página */
body {
    background-color: rgb(30, 50, 120);
}

/* Estilos para o logotipo no cabeçalho */
header > img#logo {
    margin: auto;
    display: flex;
}

/* Estilos para a seção principal */
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    width: 75%;
    margin: auto;
    min-width: 600px;
    max-width: 1000px;
}

/* Estilos para a navegação no corpo da página */
body > main > nav.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

/* Estilos para as imagens dentro das âncoras da navegação */
body > main > nav.container > a > img {
    border-radius: 50%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.541);
}
