@charset "UTF-8";

body {
    background-color: rgb(30,50,120);
    
}

header > img#logo {
    margin: auto;
    display: flex;
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    width: 75%;
    margin: auto;
    min-width: 600px;
    max-width: 1000px;
}

body > main > nav.container {
    display: flex;
    justify-content: center;
    
   flex-direction:row;
   
}

body >main >nav.container > a >img {
  border-radius: 50%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.541);
}
